html
    head
        title= name
        style
            include ../assets/style.css
    body
        header
            h2= 'Product Name - ' + name
            h2= 'Price in ETH - ' + price
        section
            div
                ul(class= 'stories')
                    each story in stories
                        li
                            img(src= story.split('####')[1])
                            p= story.split('####')[0]